src/main/resources/schemas/exchange/exchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:org="urn:gov:hhs:fha:nhinc:exchange:directory"
            xmlns:tns="urn:gov:hhs:fha:nhinc:exchange"
            targetNamespace="urn:gov:hhs:fha:nhinc:exchange"
            elementFormDefault="qualified">
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:exchange:directory" schemaLocation="organizationDirectory.xsd"/>

  <xsd:element name="ExchangeInfo" type="tns:exchangeInfoType"/>
  <xsd:complexType name="exchangeInfoType">
    <xsd:sequence>
      <xsd:element name="refreshInterval" type="xsd:long"/>
      <xsd:element name="backupFile" type="xsd:boolean"/>
      <xsd:element name="maxNumberOfBackup" type="xsd:integer"/>
      <xsd:element name="defaultExchange" type="tns:exchangeTypes" minOccurs="0"/>
      <xsd:element name="exchanges" type="tns:exchangesType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="exchangesType">
    <xsd:sequence>
      <xsd:element name="exchange" type="tns:exchangeType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="exchangeType">
    <xsd:sequence>
      <xsd:element name="TLSVersions" type="tns:tlsVersions"/>
      <xsd:element name="url" type="xsd:anyURI"/>
      <xsd:element name="key" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Organization" type="org:organization"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="tns:exchangeTypes"/>
  </xsd:complexType>

  <xsd:simpleType name="exchangeTypes">
    <xsd:annotation>
      <xsd:documentation>
        Defines the exchange identifier
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UDDI"/>
      <xsd:enumeration value="FHIR-HPD"/>
      <xsd:enumeration value="LOCAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="tlsVersions">
    <xsd:sequence>
      <xsd:element name="supports" type="tns:tlsEnum" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tlsEnum">
    <xsd:annotation>
      <xsd:documentation>TLS versions supported by exchange</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TLSv1.2"/>
      <xsd:enumeration value="TLSv1.1"/>
      <xsd:enumeration value="TLSv1"/>
      <xsd:enumeration value="SSLv3"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
